:root {
    --base-color: #161616;
    --first-layer-color: #313131; 
    --second-layer-color: #575757;
    --third-layer-color : #707070;
    --title-font-size: 48px;
    --side-bar-border: 1px;
}

body {
    background-color: var(--base-color);
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 40%;
    height: 80%;
    background-color: var(--first-layer-color);
    border-radius: 20px;
}

.profile-container {
    margin-top: 5%;
    height: 50%;
}

.profile-container__profile-img {
    width: 250px;
    height: 250px;
    border-radius: 70%;
    overflow: hidden;
    margin: auto;
}

#profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.profile-container__status-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    width: 90%;
    margin: auto;
    margin-top: 1%;
    border-radius: 20px;
    height: 25%;
    align-items: center;
}

.profile-container__userName {
    margin-top: 3%;
    font-size: var(--title-font-size);
}

.status-text {
    margin-right: 2%;
}

.btn-container {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 13%;
}

.btn {
    width: 130px;
    height: 50px;
    margin-right: 5vw;
    margin-left: 5vw;
}

.msg-counter {
    margin-top: 10%;
    font-size: 30px;
}

.popup {
    width: 35vw;
    height: 90vh;
    margin: auto;
    position: relative;
    background-color: var(--second-layer-color);
    border-radius: 25px;
    display: none;
}

.modal {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup__write-title-container {
    display: flex;
    width: 100%;
    margin-top: 3%;
}
.popup__write-titleText {
    display: flex;
    align-items: center;
    margin : auto;
    margin-right: 1%;
}
.popup__write-title {
    width: 80%;
    height: 1em;
    margin : auto;
    margin-left: 1%;
    border : 2px solid grey;
}

.popup__write-content {
    margin-top: 2%;
    width: 90%;
    height: 85%;
}

.popup__read-letterContainer{
    width: 90%;
    height: 80%;
    margin : auto;
}

.letterList-item {
    width: 90%;
    height: 5%;
    background-color: var(--third-layer-color);
    border-radius: 5px;
    margin :auto;
    margin-top: 1%;
    border:0px;
}

.popup__Sender-Container {
    display: flex;
    margin-top: 3%;
    width: 100%;
}

.popup__Sender-title {
    display: flex;
    align-items: center;
    margin : auto;
    margin-right: 1%;
}

.popup__Sender-input {
    width: 40%;
    height: 1em;
    margin : auto;
    margin-left: 1%;
    border : 2px solid grey;
}